.DiaryList .menu_bar {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.DiaryList .menu_bar select {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}

.DiaryList .menu_bar .Button {
  flex: 1;
}

